:root {
    --bg-color: #050505;
    --accent-color: #ffd700; /* Gold accent for a premium feel */
    --text-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    scroll-behavior: smooth;
}

/* Nav Bar */
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 8%;
    position: fixed;
    width: 100%;
    z-index: 1000;
    transition: 0.4s ease;
}

.logo { font-weight: 400; font-size: 3rem; letter-spacing: 4px; color: var(--accent-color); font-family: Arial, Helvetica, sans-serif;}
.logo span { font-size: 1.4rem; color: var(--text-color); }


nav ul { display: flex; list-style: none; }
nav ul li { margin-left: 30px; }
nav ul li a { 
    color: white; 
    text-decoration: none; 
    font-size: 0.8rem; 
    text-transform: uppercase; 
    letter-spacing: 1px;
}

/* Hero Section */
.hero {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), 
                url('https://images.unsplash.com/photo-1492691527719-9d1e07e534b4?auto=format&fit=crop&w=1920&q=80');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-content h1 { font-size: 4rem; font-weight: 300; margin-bottom: 10px; }
.btn {
    display: inline-block;
    margin-top: 25px;
    padding: 15px 35px;
    border: 1px solid white;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}
.btn:hover { background: white; color: black; }

/* Grid */
#work { padding: 100px 8%; }
.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px;
}

.project-card {
    position: relative;
    overflow: hidden;
    height: 450px;
}

.project-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.4s;
}

.project-card:hover .overlay { opacity: 1; }
.project-card:hover img { transform: scale(1.05); }

/* About & Footer */
#about { padding: 120px 20%; text-align: center; background: #0a0a0a; }
#about h2 { margin-bottom: 20px; font-weight: 300; font-size: 2.5rem; }

footer { padding: 80px 8%; text-align: center; }
.socials { margin-top: 20px; }
.socials a { color: var(--accent-color); text-decoration: none; margin: 0 10px; }